
#box2{
    text-align: center;
    color:red;
   font-size: 150%;

   margin: 25%;
}
#h{
    text-align: center;
}
nav{
  padding: 20px;
  background-color:darkmagenta ;
}
body ul li{
display: inline-block;
}

#clock{
    color:red;
    text-align:center;
    border-width: 10em;
    border-radius: 1.0em;
    border-color: blue;
    font-size: 1.5em;
    padding-top: 15px;
      margin-left: 30%;
      margin-right: 30%;
      margin-top: 10%;
      margin-bottom:25%;
      padding-bottom:8px;
  width: 38%;
    
}